﻿@{
    ViewBag.Title = "a1";
}
<h1>Giải mã Liên Minh nhận quà giáng sinh</h1>

    <div class="box-contents">
       <img src="~/Images/4.png" />
        <h3>Giải mã Liên Minh, nhận quà Giáng Sinh

Nhận được sự hưởng ứng của cộng đồng Liên Minh trong các sự kiện thử thách kiến thức trước đó, chúng tôi quyết định sẽ mở ra một lần nữa những câu hỏi và trò chơi trí tuệ vui nhộn. Người chơi trả lời chính xác và sớm nhất sẽ có được phần quà xứng đáng. Người chơi may mắn cũng sẽ có những phần quà khuyến khích tương ứng.

    Thời gian diễn ra sự kiện: 15/12 – 18/12/2014

Chào mừng Giáng sinh cùng Liên Minh Huyền Thoại

Trong dịp Giáng sinh lần này, hãy cùng trang trí facebook cá nhân của bạn với chủ đề Giáng sinh bằng cách thay ảnh cover theo quy định của BTC và cùng tham gia bình luận, sinh hoạt tại fanpage Liên Minh Huyền Thoại để có cơ hội nhận quà Giáng sinh.

    Thời gian diễn ra sự kiện: 22/12 – 25/12/2014

Tất cả các sự kiện tại này đều được áp dụng cho thành viên đã Like fanpage Liên Minh Huyền Thoại. Nếu bạn hoặc đồng đội vẫn chưa là thành viên fanpage, hãy Like và truyền đạt thông điệp này cho các chiến hữu để nhận được phần quà Giáng sinh của Liên Minh Huyền Thoại nhé.

Để lại bình luận của bạn tại đây.</h3>        
    </div>
    

