﻿@{
    ViewBag.Title = "a2";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}
<h1>Cơ hội nhận gift code "Khũng"</h1>

<div class="box-contents">
       <img src="~/Images/5.png" />
    <h3>CyberPay tổ chức sự kiện TẶNG GIFTCODE lần thứ 2 như lời cảm ơn tới các khách hàng đã luôn ủng hộ CyberPay trong thời gian qua.
        Để biết thêm chi tiết về các chương trình khuyến mãi sắp tới của CyberPay, hãy ghé thăm và like fanpage CyberPay nhé.

Giải đặc biệt của chương trình lần này là Giftcode ĐẦY ĐỦ TRANG PHỤC GIÁNG SINH dành cho người chơi siêu may mắn. Ngoài ra, các giải thưởng phụ vẫn bao gồm: Trang phục tướng, tăng IP và biểu tượng anh hùng. 
Chi tiết chương trình

    Thời gian diễn ra sự kiện: 12/12/2014 – 15/12/2014
    Phần thưởng đặc biệt: Giftcode TẤT CẢ TRANG PHỤC GIÁNG SINH - tổng cộng 26 trang phục giáng sinh được ra mắt từ mùa Giáng Sinh 2009 đến năm nay
    Hàng ngàn giải thưởng khác:
        Trang phục tướng: Xin Zhao, Lucian, Zed, Yasuo, Teemo, Gnar,…
        Tăng IP 4 trận thắng
        Biểu tượng anh hùng: Bao gồm các biểu tượng trong Cửa hàng

Thể lệ chương trình

    Quay số may mắn: Sau khi đăng nhập và điền đầy đủ thông tin, hệ thống sẽ tự động quay số ngẫu nhiên và trả ra kết quả.
    Điều kiện áp dụng: Áp dụng cho tất cả các Thẻ Garena được bán ra tại Phòng máy CyberPay (thẻ xuất ra từ CyberPay) trong thời gian khuyến mại.
    Số lượng quà tặng: 8,000 vật phẩm/ngày

Cách thức tham dự

Bước 1: Sau khi mua thẻ, vui lòng truy cập http://kmcyberpay.garena.vn/

Bước 2: Đăng nhập tài khoản Garena Plus. Lưu ý các địa chỉ có đuôi tên miền là “.garena.vn” mới là website chính thức của Công ty Cổ phần Phát triển Thể Thao Điện Tử Việt Nam.

Bước 3: Điền thông tin Số hoá đơn gồm 7 chữ số và 3 số cuối mã nạp để quay thưởng 
Lưu ý

    Mỗi thẻ chỉ được phép tham gia 1 lần duy nhất.
    Không giới hạn mệnh giá thẻ có thể tham gia chương trình
    Đây là chương trình quay số may mắn, cũng có nghĩa là không phải tất cả người tham gia đều trúng thưởng
Nếu bạn may mắn nhận được thông báo trúng thưởng Giftcode Đầy đủ trang phục Giáng Sinh, vui lòng liên hệ G+ CyberpaySupport (ID: 178491122) trong giờ hành chính để được hướng dẫn nhận phần quà siêu lớn này. Nếu có bất cứ tranh chấp nào xảy ra trong quá trình trao thưởng, phần thưởng sẽ được trao cho tài khoản game đã nạp thẻ Garena có Số hoá đơn và 3 số cuối mã nạp trúng thưởng.
    Nếu bạn gặp khó khăn trong việc tìm kiếm Phòng máy CyberPay, hãy vào đây để tìm địa chỉ các phòng máy 

Trong chương trình đợt 1, có một số phòng máy bán thẻđã bị sử dụng thông tin để tham gia chương trình. Nếu bạn mua thẻ và bị tình trạng như vậy, hãy phản ánh tại đây. Sau khi xác minh thông tin, CyberPay sẽ tiến hành loại bỏ các phòng máy quản lý không tốt và đã để xảy ra tình trạng gian lận ra khỏi Danh sách phòng máy tham gia chương trình.
    </h3>
    </div>