﻿@{
    ViewBag.Title = "a3";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h1>Xếp hạng GPL ngày 14/12/2014</h1>
 <div class="box-contents">
       <img src="~/Images/6.png" />
        <h3>
            Các bạn có thể tìm thấy tất cả các thông tin quan trọng về giải đấu GPL 2015 tại bài viết này
Các quốc gia tham dự

Garena Premier League (GPL) 2015 sẽ không còn sự góp mặt của các đội tuyển đến từ khu vực Đài Loan/Hong Kong/Macao nữa mà sẽ trở thành một giải đấu với thuần sự góp mặt của 16 đội tuyển đến từ các quốc gia Đông Nam Á. Mỗi quốc gia sẽ có 1 số lượng các đội đại diện nhất định tham dự giải đấu LMHT hàng đầu Đông Nam Á cụ thể như sau:

    Việt Nam: 6 đội
    Singapore và Malaysia: 4 đội
    Philippines: 3 đội
    Thái Lan: 2 đội
    Indonesia: 1 đội
Thời gian diễn ra

Bước sang mùa giải 2015, GPL sẽ được tổ chức 2 lần với giải đấu Mùa Xuân và giải đấu Mùa Hè. GPL 2015 Mùa Xuân sẽ được tổ chức từ tháng 12/2014 đến tháng 4/2015 trong khi giải đấu Mùa Hè sẽ được tổ chức từ tháng 5/2015 đến tháng 8/2015. Mỗi giải đấu sẽ bao gồm 3 giai đoạn, lần lượt theo thứ tự: Vòng bảng 1, Vòng bảng 2 và Vòng loại trực tiếp.
            Thể thức thi đấu

Vòng bảng 1

    16 đội sẽ được chia thành 4 bảng A-B-C-D
    Các trận đấu diễn ra theo thể thức Bo2. Số điểm các đội nhận được ở mỗi trận dựa theo kết quả của họ tại trận đấu đó
        Thắng 2-0: 3 điểm
        Hòa 1-1: 1 điểm
        Thua 0-2: 0 điểm
    Mỗi đội sẽ gặp các đội cùng bảng 2 lần, 1 ở lượt đi và 1 ở lượt về
    2 đội đứng đầu mỗi bảng sẽ được lọt tiếp vào Vòng bảng 2
    Các trận đấu sẽ diễn ra vào các ngày Thứ Tư, Thứ Năm và Thứ Sáu hàng tuần

        </h3>
     </div>