﻿@{
    ViewBag.Title = "a4";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h1>Thiện VS Ác cùng hưởng ưu đãi</h1>
 <div class="box-contents">
       <img src="~/Images/7.png" />
        <h3>Hội đồng sẽ mang tới khuyến mãi dành cho các vị tướng tham gia cuộc chiến này từ ngày 12/12/2014.
            Ionia là một đảo quốc với những rừng cây cổ xưa, rặng núi cao và nhiều dòng sông dài bất tận. Cả hòn đảo tràn đầy sự sống với hệ sinh thái vô cùng đa dạng. Đây cũng là nơi tôn vinh tinh thần võ thuật và kiếm tìm sự khai sáng.

Trái ngược hoàn toàn, Zaun là một thành phố cực kì ô nhiễm với vô vàn nhà máy, công xưởng hàng ngày xả chất thải hóa học và phế phẩm ra môi trường. Khói bụi nơi đây dày đặc đến độ, thậm chí người dân còn chẳng thể thấy được ánh sáng mặt trời. Dù vậy, tình hình ở trên mặt đất vẫn còn đáng lạc quan hơn rất nhiều lần những gì diễn ra ở bên dưới thành phố.

Cuộc chiến giữa hai khu vực này đã bắt đầu từ rất lâu, và chẳng bao giờ có hồi kết. Để kỉ niệm cho những cuộc chiến đã qua, và chuẩn bị cho các màn giao tranh sắp tới, Hội đồng Liên Minh sẽ mở ra khuyến mãi dành cho các tướng của hai liên minh từ ngày 12/12 đến 14/12/2014:
            Hiện nay, các bạn đừng quên chương trình khuyến mãi 100% khi quy đổi Sò sang RP đã diễn ra!

 </h3>
     </div>
