﻿@{
    ViewBag.Title = "a5";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h1>Danh sác tướng miễn phí tuần này</h1>
<div class="box-contents">
       <img src="~/Images/8.png" />
        <h3>
            Hội đồng Liên Minh xin công bố danh sách tướng xoay tua miễn phí tuần 121
            Aatrox - Quỷ Kiếm Darkin.Ashe - Cung Băng.Caitlyn - Cảnh Sát Trưởng Piltover.Karma - Kẻ Được Khai Sáng.Kha'Zix - Sát Thủ Hư Không.Nidalee - Nữ Thợ Săn Hóa Thú.Rengar - Thú Săn Mồi Kiêu Hãnh.Sona - Đại Cầm Nữ.Talon - Sát Thủ Bóng Đêm.Yasuo - Kẻ Bất Dung Thứ.
        </h3>
    </div>
