﻿@{
    ViewBag.Title = "a6";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h1>Không sử dụng phần mềm "cấm</h1>
<div class="box-contents">
       <img src="~/Images/9.png" />
        <h3>
            Các Anh hùng sử dụng phòng máy Internet hãy không sử dụng phần mềm lậu để tránh rủi ro.Thị trường hiện nay đang xuất hiện một số phòng net sử dụng KEY không chính thức của công ty Vietnam Esports nhằm hack x2 IP tại Liên Minh Huyền Thoại. Các chủ phòng net sử dụng các phần mềm lậu này sẽ làm người chơi không vào được Liên Minh, hệ thống máy tính tại phòng net bị lây nhiễm Virus. Điều này sẽ dẫn đến giảm doanh thu của cửa hàng vì khách hàng cảm thấy không an toàn khi chơi tại phòng máy sử dụng phần mềm không chính thức.

Nay Hội đồng Liên Minh xin thông báo tới toàn thể quý khách hàng, không sử dụng các KEY không chính thức và các phần mềm lậu nhằm phòng tránh các trường hợp đáng tiếc có thể xảy ra.

Các Anh hùng khi tới các phòng máy không sử dụng Gcafe rất có thể sẽ gặp phải sự cố này, vì thế hãy đừng sử dụng các phần mềm lậu hoặc hack để tránh gặp vấn đề không mong muốn.

Đối với các phòng máy sử dụng các chương trình của những đối tác cung cấp dịch vụ phòng máy hiện nay, các chủ phòng máy hãy liên hệ với người quản lý cài đặt để gỡ chức năng hack x2 IP này ra, để thông báo lỗi không xuất hiện khi các Anh hùng tới chơi Liên Minh Huyền Thoại.

Nếu các bạn có bất kì thắc mắc nào có thể liên hệ qua hotline: 19001232. Chúng tôi sẵn sàng giải đáp và tiếp nhận mọi ý kiến đóng góp từ quý khách hàng.
        </h3>
    </div>
