﻿@{
    ViewBag.Title = "cđ";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h1>Cộng Đồng</h1>
<div class="box4">
    <h2>Liên Kết</h2>
    <div class="box9">
        <a href="https://www.facebook.com/" target="_blank"><img src="~/Images/18.png" /></a>
            </div>
    
    <div class="box9">
        <a href="https://www.youtube.com/" target="_blank"><img src="~/Images/19.png" /></a>
            </div>
    </div>
    


