﻿@{
    ViewBag.Title = "dđ";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h1>FORUM</h1>
<div class="box4">
    <div class="box5">
        <H3>BÀI VIẾT</H3>
        <h3>=====================================</h3>
        <a href="/TrangChu/a6" target="_blank">KHông Sử Dụng Phần Mềm "Câm"</a>
        <h3>=====================================</h3>     
    </div>
    <div class="box5">
        <h3>NỘI QUY</h3>
    </div>
    <div class="box5">
        <h3>THẮC MẮC - Ý KIẾN</h3>
    </div>
    <div class="box5">
        <h3>ĐÓNG GÓP</h3>
    </div>
</div>