﻿@{
    ViewBag.Title = "gtkđ";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h1>Giới Thiệu Khởi Đầu</h1>
 <div class="content-left ">
     <div class=".box1"> <img src="~/Images/10.png" /></div>
     <div class=".box2"> <h3>
Đối đầu giao tranh

Kết hợp tư duy chiến thuật, phản xạ tốt và sự phối hợp cùng đồng đội để nghiền nát kẻ địch trong cả các trận chiến nhỏ cũng như giao tranh tổng 5 đấu 5
Luận chiến thuật và biến đổi

Với các cập nhật thường xuyên, bản đồ đa dạng, nhiều chế độ chơi và liên tục các tướng gia nhập Liên Minh, giới hạn duy nhất tới thành công là sự khéo léo của bạn
Cạnh tranh công bằng

Bất kể bạn muốn đấu với máy hay đấu xếp hạng, Liên Minh Huyền Thoại luôn có cách để nhanh chóng xếp bạn với những người có cùng ngưỡng trình độ
Vinh danh chiến đấu

Nếu chơi hết mình bạn có thể nhận được nhiều loại Vinh danh đặc biệt từ đồng đội để thưởng cho tinh thần thể thao của bạn
Trải nghiệm Thể thao điện tử

Là sân chơi chuyên nghiệp năng động nhất trên thế giới, Liên Minh Huyền Thoại không ngừng tổ chức các giải đấu khắp thế giới, bao gồm cả chuỗi giải Vô địch danh giá, nơi mà các cao thủ vừa được trả lương, vừa cạnh tranh để giành hàng tỉ đồng tiền thưởng
Cộng đồng người chơi trực tuyến lớn nhất thế giới

Tham gia vào cộng đồng người chơi trực tuyến lớn nhất thế giới này bằng cách: kết bạn, thành lập đội và chiến đấu với hơn mười triệu đối thủ khác đến từ khắp mọi quốc gia trên thế giới, sau đó chia sẻ kinh nghiệm trên Reddit, YouTube, các diễn đàn và hơn thế nữa

</h3>     
   </div>
 </div>
