﻿@{
    ViewBag.Title = "gttm";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h2>Giới Thiệu Tướng Mới</h2>
<h3>Cùng nắm bắt cách sử dụng con hung thú tại sa mạc Shurima qua tiêu điểm tướng Rek'Sai - Nấm Mồ Hư Không                                                                                                           
        Rek'Sai sống ở dưới lòng cát tại sa mạc Shurima, tiêu diệt tất cả những kẻ nào dám đặt chân vào lãnh địa của mình.   
    Có khả năng độn thổ và tăng thêm tốc độ di chuyển khi ở dưới lòng đất, Rek'Sai có khả năng di chuyển qua lại nhanh chóng. Bên cạnh đó, kĩ năng tạo Đường Hầm khiến mụ ta có thể đi tới những nơi chẳng ai ngờ tới, dễ dàng vào rừng đối phương và nẫng tay trên những mục tiêu quý giá, khiến chúng trở nên yếu đuối và tự mình bước vào nguy hiểm.
 
Hãy cùng xem những nét vô cùng đặc trưng của Rek'Sai qua tiêu điểm tướng lần này.
    </h3>
<div class="box3">       
    <video src="~/images/1.mp4" controls preload="auto" />
    </div>
<img src="~/Images/1.jpg" />