﻿@{
    ViewBag.Title = "gđ";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<h2>Videos Giải Đấu</h2>
 <div class="box-contents">
       <div class="box3">
           <video src="~/images/2.mp4" controls preload="auto" />
           </div>
                 <h3>Top 5 pha xử lý hay nhất giải</h3>
     </div>
