﻿@{
    ViewBag.Title = "ht";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}


<h1>Hỗ Trợ</h1>
<div class="box4">
    <div class="box5">
        <div class="box6">
            <img src="~/Images/15.jpg" />
        </div>
        <h3>
            Đã từng là một sự lựa chọn ”cho vui” vì quá tỏ ra lép vế so với những kẻ ”ăn thịt” trong rừng. Warwick đã đợi rất lâu, rất lâu và cuối cùng đã được đền bù xứng đáng. Mùa giải mới đã đến, những sự thay đổi đã đến và thời hoàng kim của con sói khát máu này đã trở lại.
        </h3>
    </div>
        
    <div class="box5">
        <div class="box6">
            <img src="~/Images/13.jpg" />
        </div>
        <h3>I. GIỚI THIỆU TƯỚNG SHACO – TÊN HỀ QUỶ:

Ít khi xuất hiện trong Đấu Trường Công Lý nhưng một khi đã có mặt thì Shaco luôn gieo rắc một nỗi khó chịu đến kinh hoàng cho đối phương. Hẳn bạn đã bao lần giật mình khi thấy một tên hề vụt xuất hiện từ đằng sau rồi ăn một tá vật thể lạ vào mồm, đi vào bụi gặp những cái hộp khó chịu, hay rối bời khi thấy hai tên hề giống nhau như đúc cười khanh khách chẳng biết đâu mà lần rồi chứ? Vâng! Chỉ có thể là Shaco mà thôi :D

        </h3>
    </div>
        <
    <div class="box5">
        <div class="box6">
            <img src="~/Images/12.jpg" />
        </div>
        <h3>
            Thông thường thì Lulu thường được chơi ở vị trí hỗ trợ (Support). Tuy nhiên cô bé này còn có thể chơi rất hiệu quả với vai trò là một AD Carry. Ở bài này GuideGame.vn sẽ chia sẻ đến các bạn hướng xây dựng cũng như cách chơi Lulu ở vị trí AD.
        </h3>
    </div>
        
    <div class="box5">
        <div class="box6">
            <img src="~/Images/11.jpg" />
        </div>
        <h3>
            Arzir Azir là một kiểu pháp sư thiên về việc giữ vị trí trong giao tranh để có thời gian gây sát thương với lính cát, đồng thời Azir cũng là mảnh ghép quan trọng trong đội hình kiểm soát với khả năng tạo trụ và Ultimate của mình nên những vị tướng sau sẽ là đồng đội tốt của Azir: Braum, Maokai, Thresh, Rumble, Tristana, Zilean…
        </h3>
    </div>
</div>
