﻿@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}



<div class ="box-pro-home">  
    
        <div style="background-color:#222222;border-style:solid;border-width:2px;border-color:#777777;margin:3px;padding:3px"><div style="background-color:#000000;border-style:solid;border-width:2px;border-color:#777777;margin:3px;padding:3px">

<a href="TrangChu/a1" target="_blank"><img src="~/Images/4.png" /></a>           
       
        <a href="TrangChu/a1" target="_blank">Giải mã Liên Minh nhận quà giáng sinh</a>

</div></div>
            
   
   
       <div style="background-color:#222222;border-style:solid;border-width:2px;border-color:#777777;margin:3px;padding:3px"><div style="background-color:#000000;border-style:solid;border-width:2px;border-color:#777777;margin:3px;padding:3px">

<a href="TrangChu/a2" target="_blank"><img src="~/Images/5.png" /></a>           
       
        <a href="TrangChu/a2" target="_blank">Cơ hội nhận gift code "Khũng"</a>

</div></div>
            
    
   
       <div style="background-color:#222222;border-style:solid;border-width:2px;border-color:#777777;margin:3px;padding:3px"><div style="background-color:#000000;border-style:solid;border-width:2px;border-color:#777777;margin:3px;padding:3px">

<a href="TrangChu/a3" target="_blank"><img src="~/Images/6.png" /></a>           
       
        <a href="TrangChu/a3" target="_blank">Xếp hạng GPL ngày 14/12/2014</a>

</div></div>
            
   
    
       <div style="background-color:#222222;border-style:solid;border-width:2px;border-color:#777777;margin:3px;padding:3px"><div style="background-color:#000000;border-style:solid;border-width:2px;border-color:#777777;margin:3px;padding:3px">

<a href="TrangChu/a4" target="_blank"><img src="~/Images/7.png" /></a>           
      
        <a href="TrangChu/a4" target="_blank">Thiện VS Ác cùng hưởng ưu đãi</a>

</div></div>
            
    
    
        <div style="background-color:#222222;border-style:solid;border-width:2px;border-color:#777777;margin:3px;padding:3px"><div style="background-color:#000000;border-style:solid;border-width:2px;border-color:#777777;margin:3px;padding:3px">

<a href="TrangChu/a5" target="_blank"><img src="~/Images/8.png" /></a>           
       
        <a href="TrangChu/a5" target="_blank">Danh sác tướng miễn phí tuần này</a>

</div></div>
            
  
    
       <div style="background-color:#222222;border-style:solid;border-width:2px;border-color:#777777;margin:3px;padding:3px"><div style="background-color:#000000;border-style:solid;border-width:2px;border-color:#777777;margin:3px;padding:3px">

<a href="TrangChu/a6" target="_blank"><img src="~/Images/9.png" /></a>           
       
        <a href="TrangChu/a6" target="_blank">Không sử dụng phần mềm "cấm"</a>

</div></div>
            
    </div>

    
@*  *@