﻿@{
    ViewBag.Title = "tt";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}
<h1>Tin Tức</h1>
<div class="box4">
    <div class="box9">
        <div class="box6"><a href="http://localhost:3101/TrangChu/a1" target="_blank"><img src="~/Images/14.png" /></a></div>
        <h3>Giải mã Liên Minh nhận quà giáng sinh</h3>
    </div>
    <div class="box9">
        <div class="box6"><a href="http://localhost:3101/TrangChu/a2" target="_blank"><img src="~/Images/15.png" /></a></div>
        <h3>Cơ hội nhận gift code "Khũng"</h3>
    </div>
    <<div class="box9">
        <div class="box6"><a href="http://localhost:3101/TrangChu/a3" target="_blank"><img src="~/Images/16.png" /></a></div>
        <h3>Xếp hạng GPL ngày 14/12/2014</h3>
     </div>
    <<div class="box9">
        <div class="box6"><a href="http://localhost:3101/TrangChu/a4" target="_blank"><img src="~/Images/17.png" /></a></div>
        <h3>Thiện VS Ác cùng hưởng ưu đãi</h3>
     </div>
</div>