﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <link href="~/Content/layout.css" rel="stylesheet" />
    <link href="~/Content/menu.css" rel="stylesheet" />  
</head>
<body>
    <div class="main">
        <div class="head">
            <div class="logo">
                <a href="http://localhost:3101/" target="_blank"><img src="~/Images/logo.jpg" /></a>
            </div>
            <div class="slogan">
            <a href="http://localhost:3101/" target="_blank"><img src="~/Images/slogan.jpg" /></a>
            </div>
        </div>
        <div class="menu">
            <div class="container">

            <ul id="nav">
                <li><a href="http://localhost:3101/">Home</a></li>
                <li><a class="hsubs" href="#">Giới Thiệu</a>
                    <ul class="subs">
                        <li><a href="http://localhost:3101/TrangChu/gtkđ">Khởi Đầu</a></li>
                        <li><a href="http://localhost:3101/TrangChu/gttm">Tướng Mới</a></li>
                     
                    </ul>
                </li>
                <li><a class="hsubs" href="http://localhost:3101/TrangChu/tt">Tin Tức</a>                   
                </li>
                <li><a class="hsubs" href="#">Giải Đấu</a>
                    <ul class="subs">
                        <li><a href="http://localhost:3101/TrangChu/a6">Tin Tức Giải</a></li>
                        <li><a href="http://localhost:3101/TrangChu/gđ">Videos</a></li>                        
                    </ul>
                </li>
                <li><a href="http://localhost:3101/TrangChu/cđ">Cộng Đồng</a></li>
                <li><a href="http://localhost:3101/TrangChu/dđ">Diễn Đàn</a></li>
                <li><a href="http://localhost:3101/TrangChu/ht">Hỗ Trợ</a></li>
                <li><a href="http://localhost:3101/">Back</a></li>
            </ul>

        </div>
        </div>
        <div class="content">
            <div class="content-left">
                @RenderBody()
            </div>
            <div class="content-right">
               <div class="chart">
                    <a href="http://napthe.garena.vn/" target="_blank"><img src="~/Images/1.png" /></a>
               </div>
                <div class="chart">
                    <a href="http://nhiemvu.lienminh.garena.vn/tanthu/" target="_blank"><img src="~/Images/2.png" /></a>
               </div>
                <div class="chart">
                    <a href="http://ketnoi.lienminh.garena.vn/" target="_blank"><img src="~/Images/3.png" /></a>
               </div>
            </div>
        </div>
        <div class="content-bottom"></div> 
    </div>
</body>
</html>
