﻿body                { background: #e8e8e8; padding: 0;margin: 0; font-family: Arial,Verdana; font-size: 12px;}
.main               { width: 1250px; padding: 0 1px; background: #fff ; min-height: 1672px ; margin : 0 auto; border: 0}
.head               { height: 150px; background: #516482 ; width: 1250px; padding: 0; border: 0}
.logo               {height:150px;border:0;width:250px;float:left}
.logo img       {max-width:250px;max-height:150px;border:0}
.slogan             {height:150px;border:0;width:1000px;float:left}
.slogan img         {width:1000px;height:150px;border:0}
.menu               { height: 50px; background: #272727; width:1250px; padding: 0; margin:0; border: 0}
.content            { width: 1250px; min-height: 1500px; background: #e8e8e8; border: 0}
.content-left       { float: left; width : 900px; min-height: 1300px; background: #e8e8e8; border: 0}
.content-right      { float: right; width: 340px; min-height: 1300px; background: #e8e8e8; border: 0}
.content-bottom     { height: 100px; width: 1250px; background: #e8e8e8; border: 0;padding: 0; margin:0}
.footer             {min-height: 73px;width: 1250px; background: #d6d6d6; border: 0}
.box-pro-home       { width : 432px; height : 1510px; background:#000;margin : 20px;padding:3px}
.chart           {float :left;width: 310px;height:300px;background:#e8e8e8;margin:20px}
.chart img          {max-width:310px;max-height:250px;border:0}
.chart img:hover {border : 1px solid #e8e8e8 }
.box-contents {width: 900px;height: 1000px;padding:5px 5px;margin: 0 0}
.box1 {width: 450px;height: 1000px;padding:5px 5px;margin: 0 0;float: left}
.box2 {width: 450px;height: 1000px;padding:5px 5px;margin: 0 0;float: right}
.box3 {width: 900px;height: 380px;padding:5px 5px;margin: 0 0}
.box4 {width: 1200px;height: 750px}
.box5 {width: 350px;height: 710px;border: 5px solid #3bb471;float: left;margin: 17px 45px 3px 17px}
.box6 {width: 350px;height: 350px;float:left;margin: 0 0; padding:1px 1px}
.box7 {width: 350px;height: 710px;float: left;margin: 17px 45px 3px 17px}
.box8 {width: 900px;height: 1000px;padding:5px 5px;margin: 1px 1px;float: left}
.box9 {width: 350px;height: 450px;float: left;margin: 17px 45px 3px 17px}
